BUNNY_DATABASE_URL="libsql://your-database-id.lite.bunnydb.net"
BUNNY_DATABASE_AUTH_TOKEN="your-access-token"
BETTER_AUTH_SECRET="generate-with-openssl-rand-base64-32"
BETTER_AUTH_URL="http://localhost:3000"
NEXT_PUBLIC_BETTER_AUTH_URL="http://localhost:3000"